{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.lint.json",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-one-expression-per-line": "warn",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/indent": "off",
    "react/no-array-index-key": "warn",
    "react/prop-types": "off",
    "no-console": "error"
  }
}
