{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "typescript"],
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "react/no-array-index-key": "warn",
    "typescript/no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "warn",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }]
  }
}
